
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Raleway", sans-serif !important;
}
.navbar{
    background-image: repeating-linear-gradient(242deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(287deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(197deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(332deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(287deg, rgb(41, 27, 158),rgb(249, 77, 212));
}
.nav-link{
   
    font-weight:bolder !important;
    font: size 1rem !important;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: #F94DD4;
    color: black !important;
}
.btn-primary:hover{
    background-color:#F94DD4 !important;
    border: none;
}
.navbar-toggler {
    background-color: #F94DD4 !important;
    
}
.butn{
    background-color:#F94DD4 !important;
    border: none;
    color: black;
    font-weight: bold !important;
}
.butn:hover{
    background-color:#7209b7 !important;
    border: none;
    color: white !important;
    font-weight: bold !important;
}
.tts{
   color: #F94DD4 !important;
}
.ttc{
    color: #7209b7 !important;
}
.card-title{
    color: #F94DD4 !important;
}
.card-text{
    color: #7209b7 !important;
}
.card-size{
    width: 200! important;
    length:200 !important;
}
button{
    border-radius: 8px;
    background-color:#F94DD4;
    border: 1px;   
}
.label
{
    border-radius: 1px !important;
    background-color:#F94DD4 !important;
    border: none;
    color: black;
    font-weight: bold !important;
}
input[type=text]
{
width: 200px;
height: 25px;
margin: 2px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;


}
